<div class="container centered-content">
    <div class="text-center">
        
        <h1>By <br> 652110295 <br> Phawat Phuengdecha</h1>
        <img src="https://media0.giphy.com/media/o0vwzuFwCGAFO/200w.gif?cid=6c09b952akey5gibe0x3wq3x2mk4ek31s25x8aw8o1lxpz7r&ep=v1_gifs_search&rid=200w.gif&ct=g"
            alt="cute gif">

        <div class="text-danger">
            God and me known how this code works,and now only God knows.
        </div>

        <h3>Start XX/08</h3>
        <h3>Finish 00/09</h3>
    </div>

</div>