<!-- สวัสดีครับทุกคน ต้องขอโทษด้วยที่ผมหายไปเลย :) ผมจะมาแจ้งกำหนดส่งโปรเจค, ขอเป็นภายในวันพุธที่ 20 ก.ย. เวลา 23.59 น. นะครับ

Requirement ของโปรเจคคือ เป็นระบบ Web app ที่มีทั้งส่วนหน้าบ้านสำหรับ end user ใช้งาน และส่วนหลังบ้าน (backoffice) สำหรับ admin ใช้งาน ยกตัวอย่างเช่น แอพสั่งอาหาร (แบบง่ายๆ) เป็นต้น

ไว้ผมจะอัดคลิปสอนเนื้อหาสำคัญที่ยังไม่ได้สอน แต่คิดว่าน่าจะต้องใช้ในการทำโปรเจคส่วนใหญ่ มาให้ทุกคนศึกษาเพิ่มเติมอีกที เช่น เรื่องของ input form เป็นต้น

ส่วนเรื่องการสอบ final จะใช้ความรู้จากแอพ 3 ตัวที่สอนในห้อง คือ housing app, todo app และ lazadee app เป็นหลักครับ -->
<router-outlet></router-outlet>