@font-face {
    font-family: 'Tomorrow-Medium';
    src: url('../../assets/font/Tomorrow-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.tomorrow-medium {
    font-family: 'Tomorrow-Medium', sans-serif;
}

.cp-accent-bottom {
    background-repeat: repeat-x;
    background-position: left bottom;
    background-size: auto 100%;
    background-image: url(https://images.secretlab.co/theme/common/cyberpubk-razor-art.svg);
}