@font-face {
    font-family: 'CANNET AGENCY';
    src: url('./assets/font/Cyberpunk.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'CANNET AGENCY', sans-serif;
}