@font-face {
    font-family: 'Cyberpunk';
    src: url('./assets/font/Cyberpunk.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Cyberpunk', sans-serif;
}