@font-face {
    font-family: 'Tomorrow-Thin';
    src: url('../../assets/font/Tomorrow-Thin.ttf') format('truetype'); /* Adjust the font path */
    font-weight: normal;
    font-style: normal;
  }

.number-input{
    font-family: 'Tomorrow-Thin', sans-serif;
}

.dot-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding-bottom: 25px;
}

.dot {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #ccc;
    display: inline-block;
    margin: 4px;
}

.btn-warning {
    background-color: yellow;
    color: black;
    font-weight: bold;
}

.filled {
    background-color: yellow;
}