<div class="container mt-5">
    <div class="row">
        <div class="position-absolute top-50 start-50 translate-middle">

            <!-- dot -->
            <div class="col-5 mx-auto text-center dot-container">
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
            </div>

            <!-- number 1 2 3 -->
            <div class="row text-center">
                <div class="col">
                    <button type="button" class="btn btn-secondary m-1" (click)="fillDot(1)">1</button>
                    <button type="button" class="btn btn-secondary m-1" (click)="fillDot(2)">2</button>
                    <button type="button" class="btn btn-secondary m-1" (click)="fillDot(3)">3</button>
                </div>
            </div>

            <!-- number 4 5 6 -->
            <div class="row text-center">
                <div class="col">
                    <button type="button" class="btn btn-secondary m-1" (click)="fillDot(4)">4</button>
                    <button type="button" class="btn btn-secondary m-1" (click)="fillDot(5)">5</button>
                    <button type="button" class="btn btn-secondary m-1" (click)="fillDot(6)">6</button>
                </div>
            </div>

            <!-- numebr 7 8 9 -->
            <div class="row text-center">
                <div class="col">
                    <button type="button" class="btn btn-secondary m-1" (click)="fillDot(7)">7</button>
                    <button type="button" class="btn btn-secondary m-1" (click)="fillDot(8)">8</button>
                    <button type="button" class="btn btn-secondary m-1" (click)="fillDot(9)">9</button>
                </div>
            </div>

            <!-- number 0 -->
            <div class="row text-center">
                <div class="col">
                    <button type="button" class="btn btn-danger m-1" [disabled]="enteredPassword.length === 0" (click)="unfilledDot()">
                        <strong>&times;</strong>
                    </button>
                    <button type="button" class="btn btn-secondary m-1" (click)="fillDot(0)">0</button>
                    <button type="button" class="btn btn-success m-1" [disabled]="enteredPassword.length !== 5"
                        (click)="checkPasswords()">
                        <strong>&#10004;</strong>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>