<div class="container-fluid p-0 m-0 vh-100 d-flex justify-content-center align-items-center bg-yellow">
    <div class="container mt-5">
        <div class="row">
            <div class="position-absolute top-50 start-50 translate-middle number-input">

                <!-- dot -->
                <div class="col-5 mx-auto text-center dot-container">
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                </div>

                <!-- number 1 2 3 -->
                <div class="row text-center">
                    <div class="col">
                        <button type="button" class="btn-cyber m-2" (click)="fillDot(1)">
                            <span class="btn__content">1</span>
                            <span class="btn__glitch"></span>
                            <span class="btn__label">r25</span>
                        </button>
                        <button type="button" class="btn-cyber m-2" (click)="fillDot(2)">
                            <span class="btn__content">2</span>
                            <span class="btn__glitch"></span>
                            <span class="btn__label">r25</span>
                        </button>
                        <button type="button" class="btn-cyber m-2" (click)="fillDot(3)">
                            <span class="btn__content">3</span>
                            <span class="btn__glitch"></span>
                            <span class="btn__label">r25</span>
                        </button>
                    </div>
                </div>

                <!-- number 4 5 6 -->
                <div class="row text-center">
                    <div class="col">
                        <button type="button" class="btn-cyber m-2" (click)="fillDot(4)">
                            <span class="btn__content">4</span>
                            <span class="btn__glitch"></span>
                            <span class="btn__label">r25</span>
                        </button>
                        <button type="button" class="btn-cyber m-2" (click)="fillDot(5)">
                            <span class="btn__content">5</span>
                            <span class="btn__glitch"></span>
                            <span class="btn__label">r25</span>
                        </button>
                        <button type="button" class="btn-cyber m-2" (click)="fillDot(6)">
                            <span class="btn__content">6</span>
                            <span class="btn__glitch"></span>
                            <span class="btn__label">r25</span>
                        </button>
                    </div>
                </div>

                <!-- numebr 7 8 9 -->
                <div class="row text-center">
                    <div class="col">
                        <button type="button" class="btn-cyber m-2" (click)="fillDot(7)">
                            <span class="btn__content">7</span>
                            <span class="btn__glitch"></span>
                            <span class="btn__label">r25</span>
                        </button>
                        <button type="button" class="btn-cyber m-2" (click)="fillDot(8)">
                            <span class="btn__content">8</span>
                            <span class="btn__glitch"></span>
                            <span class="btn__label">r25</span>
                        </button>
                        <button type="button" class="btn-cyber m-2" (click)="fillDot(9)">
                            <span class="btn__content">9</span>
                            <span class="btn__glitch"></span>
                            <span class="btn__label">r25</span>
                        </button>
                    </div>
                </div>

                <!-- number 0 -->
                <div class="row text-center">
                    <div class="col">
                        <button type="button" class="btn-cyber m-2" [disabled]="enteredPassword.length === 0"
                            (click)="unfilledDot()">
                            <span class="btn__content"><strong>&times;</strong></span>
                            <span class="btn__glitch"></span>
                            <span class="btn__label">r25</span>
                        </button>
                        <button type="button" class="btn-cyber m-2" (click)="fillDot(0)">
                            <span class="btn__content">0</span>
                            <span class="btn__glitch"></span>
                            <span class="btn__label">r25</span>
                        </button>
                        <button type="button" class="btn-cyber m-2" [disabled]="enteredPassword.length !== 5"
                            (click)="checkPasswords()">
                            <span class="btn__content"><strong>&#10004;</strong></span>
                            <span class="btn__glitch"></span>
                            <span class="btn__label">r25</span>

                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>