* {
    background-color: black;
    color: white;
}

/* fix size */
.carousel-product-wrapper {
    width: 200px;
    padding: 0 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.card{
    padding: 0 20px;
}

.carousel-product-wrapper .card {
    flex-grow: 1;
}

.carousel-item {
    margin: 0 100px;
}

/* buttton animation */
.carousel-control-prev,
.carousel-control-next {
    width: 0;
    opacity: 0;
    transition: width 0.3s, opacity 0.3s;
}

.carousel:hover .carousel-control-prev,
.carousel:hover .carousel-control-next {
    width: 2rem;
    opacity: 1;
}

.property-card {
    border: 2px solid #dc3545;
    border-radius: 10px;
    margin: 10px 35px;
    padding: 0px;
    overflow: hidden;
    width: fit-content;
}

.property-card img {
    width: 45%;
    margin-right: 15px;
    float: left;
}

.see-more{
    margin-right: 30px;
    float: right;
}